DB_HOST = your_host
DB_USER = your_user
DB_PASS = your_pass
DB_NAME = your_db
SMTP_HOST = smtp.example.com
SMTP_USER = example@example.com
SMTP_PASS = your_password
SMTP_PORT = port_number
SMTP_SECURE = tls
FROM_EMAIL = no-reply@example.com
FROM_NAME = Sunny Spot Holidays
