* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 70px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 100;
    position: fixed;
    background: #382601;
    padding-left: 2rem;
}

.header-divider {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
}

.sunny-logo {
    width: 50px;
    margin-left: -1rem;
}


.title-divider {
    display: flex;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: flex-start;
    gap: 1rem;
}

h1 {
    font-family: arima, sans-serif;
    background: linear-gradient(90deg, #fff6ce, #f5deb4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
}

.title {
    text-decoration: none;
}

.title-divider h3 {
    width: 320px;
}

.author {
    width: 120px;
    height: 70px;
}

nav {
    width: 100%;
    height: 100%;
    margin-right: 2rem;
}

nav ul {
    display: flex;
    justify-content: end;
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

nav ul li {
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul li a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
}

nav ul li:hover,
nav ul li a.active {
    background-color: rgba(255, 115, 0, 0.9);
}

nav ul.show {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 8;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    border-radius: 7px;
    background-color: rgb(245, 116, 10);
    padding: 14px 16px;
    position: absolute;
    top: 12px;
    right: 0;
    margin-left: auto;
    z-index: 99;
}

.hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    transition: 0.5s ease;
}

.hamburger-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(5.5px, 5.5px);
}

.hamburger-menu.active span:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5.5px, -5.5px);
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(228, 194, 143, 0.507);
}

article {
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    max-width: 900px;
    padding: 3rem;
    margin-top: 4rem;
}

h2 {
    font-size: 2.5rem;
    font-family: arima, sans-serif;
}

h3 {
    color: rgba(219, 103, 8, 0.842);
    font-family: arima, sans-serif;
    font-size: 1.5rem;
    margin: -0.1rem 0;
}

.title-divider h3 {
    display: flex;
    align-content: center;
    height: 100%;
    margin-top: 1.8rem;
}

p {
    font-size: 1.1rem;
    font-family: roboto, sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 0.75rem;
    background-color: #382601;
    color: white;
    font-family: roboto, sans-serif;
}

footer a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: roboto, sans-serif;
    color: white;
    font-size: 1rem;
}

footer a:hover {
    color: rgb(245, 116, 10);
}

footer img {
    height: 40px;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    margin: 0 1rem;
}

footer #login {
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
}

footer .author {
    width: 80px;
    height: 60px;
    border-radius: 0;
}

@media (max-width: 1700px) {
    h1 {
        font-size: 1.5rem;
    }

    .title-divider h3 {
        margin-top: 1rem;
    }

    nav ul {
        display: none;
    }

    nav ul.show {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-end;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: 25vh;
        background: #4d370ede;
    }

    nav a {
        justify-content: flex-end;
        padding-right: 2rem;
    }

    nav ul li {
        width: 100%;
    }

    nav ul li a,
    nav ul li a.active {
        color: white;
        font-size: 1rem;
    }

    nav ul li a:hover {
        color: white;
    }

    nav ul li:hover,
    nav ul li.active {
        background-color: rgb(245, 116, 10);
    }

    .hamburger-menu {
        display: flex;
        margin-right: 1.5rem;
    }
}

@media (max-width: 1300px) {
    h1 {
        width: 225px;
    }

    .header-divider h3 {
        width: 400px;
    }

}

@media (max-width: 1100px) {

    #contact-form {
        padding: 0;
    }

    fieldset {
        width: 80%;
    }
}

@media (max-width: 1000px) {

    footer,
    footer a {
        gap: 0;
    }

    footer {
        flex-direction: column;
    }

    footer.social-media {
        display: flex;
    }
}

@media (max-width: 900px) {

    footer img {
        height: 45px;
    }

    footer {
        flex-direction: column;
    }

    footer.social-media {
        display: flex;
    }
}

@media (max-width: 768px) {

    .sunny-logo {
        width: 40px;
    }

    .title-divider {
        margin-top: 1rem;
    }

    article {
        padding: 1rem;
        margin-top: 1rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    footer img {
        height: 40px;
    }
}

@media (max-width: 735px) {
    .title-divider {
        flex-direction: column;
    }

    h1 {
        margin-top: -0.2rem;
    }

    .title-divider h3 {
        margin-top: -2.2rem;
        font-size: 1rem;
    }

}

@media (max-width: 576px) {

    html,
    body {
        overflow-x: hidden;
    }

    h1 {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1rem;
    }
}

nav ul.show {
    display: flex !important;
}
